<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rongcapital.mkt.dao.CampaignTemplateDao">

	<!-- 所有查询列 -->
	<sql id="QUERY_COLUMN_LIST">
		<![CDATA[ id as id,campaign_id as campaignId,node_id as nodeId,pre_node_id as preNodeId,next_node_id as nextNodeId,node_table_name as nodeTableName,pre_node_line_type as preNodeLineType,next_node_line_type as nextNodeLineType,node_type as nodeType]]>
	</sql>

	<!-- 查询列来源表-->
	<sql id="QUERY_FROM_TABLE"><![CDATA[FROM campaign_template]]></sql>
	
	<!-- 全部条件 -->
	<sql id="QUERY_WHERE_CLAUSE">
		<where>
		    	<if test="id != null and id != ''"><![CDATA[ AND id = #{id}]]></if>
		    	<if test="campaignId != null and campaignId != ''"><![CDATA[ AND campaign_id = #{campaignId}]]></if>
		    	<if test="nodeId != null and nodeId != ''"><![CDATA[ AND node_id = #{nodeId}]]></if>
		    	<if test="preNodeId != null and preNodeId != ''"><![CDATA[ AND pre_node_id = #{preNodeId}]]></if>
		    	<if test="nextNodeId != null and nextNodeId != ''"><![CDATA[ AND next_node_id = #{nextNodeId}]]></if>
		    	<if test="nodeTableName != null and nodeTableName != ''"><![CDATA[ AND node_table_name = #{nodeTableName}]]></if>
		    	<if test="preNodeLineType != null and preNodeLineType != ''"><![CDATA[ AND pre_node_line_type = #{preNodeLineType}]]></if>
		    	<if test="nextNodeLineType != null and nextNodeLineType != ''"><![CDATA[ AND next_node_line_type = #{nextNodeLineType}]]></if>
		    	<if test="nodeType != null and nodeType != ''"><![CDATA[ AND node_type = #{nodeType}]]></if>
		</where>
	</sql>
	
	<!-- 智能排序与分页 -->
	<sql id="QUERY_ORDER_LIMIT_CONDTION">
		<if test="orderField != null and orderField != '' and orderFieldType != null and orderFieldType != ''"><![CDATA[ORDER BY ${orderField} ${orderFieldType}]]></if>
		<if test="startIndex != null and startIndex &gt;= 0 and pageSize != null and pageSize &gt; 0"><![CDATA[LIMIT #{startIndex},#{pageSize}]]></if>	
	</sql>

	<!-- 更新列字段,只要不为NULL则更新,除开主键列 -->
	<sql id="UPDATE_COLUMN_SET">
		<set>
		    	<if test="id != null"><![CDATA[id = #{id},]]></if>
		    	<if test="campaignId != null"><![CDATA[campaign_id = #{campaignId},]]></if>
		    	<if test="nodeId != null"><![CDATA[node_id = #{nodeId},]]></if>
		    	<if test="preNodeId != null"><![CDATA[pre_node_id = #{preNodeId},]]></if>
		    	<if test="nextNodeId != null"><![CDATA[next_node_id = #{nextNodeId},]]></if>
		    	<if test="nodeTableName != null"><![CDATA[node_table_name = #{nodeTableName},]]></if>
		    	<if test="preNodeLineType != null"><![CDATA[pre_node_line_type = #{preNodeLineType},]]></if>
		    	<if test="nextNodeLineType != null"><![CDATA[next_node_line_type = #{nextNodeLineType},]]></if>
		    	<if test="nodeType != null"><![CDATA[node_type = #{nodeType}]]></if>
		</set>
	</sql>

	<!-- 插入action记录 -->
	<insert id="insert" parameterType="cn.rongcapital.mkt.po.CampaignTemplate" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO campaign_template (id,campaign_id,node_id,pre_node_id,next_node_id,node_table_name,pre_node_line_type,next_node_line_type,node_type)
			VALUES
			(
			  #{id},
			  #{campaignId},
			  #{nodeId},
			  #{preNodeId},
			  #{nextNodeId},
			  #{nodeTableName},
			  #{preNodeLineType},
			  #{nextNodeLineType},
			  #{nodeType}
			)
		]]>
	</insert>
	
	<!-- 返回插入的编号,在事务开启状态下有效 -->
	<select id="lastSequence" resultType="int"><![CDATA[SELECT LAST_INSERT_ID() AS id]]></select>

	<!-- 修改记录通过主键 -->
	<update id="updateById" parameterType="cn.rongcapital.mkt.po.CampaignTemplate">
		<![CDATA[UPDATE campaign_template]]>
		<include refid="UPDATE_COLUMN_SET"/>
		<![CDATA[WHERE id = #{id}]]>
	</update>

	<!-- 查询,通过主键IN(array) -->
	<select id="selectListByIdList" parameterType="cn.rongcapital.mkt.po.CampaignTemplate" resultType="cn.rongcapital.mkt.po.CampaignTemplate">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<![CDATA[WHERE id IN]]>
		<foreach collection="list" item="id" open="(" separator="," close=")">
			<![CDATA[#{id}]]>
		</foreach>
	</select>

	<!-- 查询,通过条件 -->
	<select id="selectList" parameterType="cn.rongcapital.mkt.po.CampaignTemplate" resultType="cn.rongcapital.mkt.po.CampaignTemplate">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<include refid="QUERY_WHERE_CLAUSE"/>
		<include refid="QUERY_ORDER_LIMIT_CONDTION"/>
	</select>

	<!-- 总数查询,通过条件 -->
	<select id="selectListCount" parameterType="cn.rongcapital.mkt.po.CampaignTemplate" resultType="int">
		<![CDATA[SELECT COUNT(id) AS dataCount]]>
		<include refid="QUERY_FROM_TABLE"/>
		<include refid="QUERY_WHERE_CLAUSE"/>
	</select>
	
	<!-- 其它SQL语句 -->
	
	
</mapper>