<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rongcapital.mkt.dao.CustomTagMapDao">

	<!-- 所有查询列 -->
	<sql id="QUERY_COLUMN_LIST">
		<![CDATA[ id as id,tag_id as tagId,type as type,map_id as mapId,status as status,create_time as createTime,update_time as updateTime]]>
	</sql>

	<!-- 查询列来源表-->
	<sql id="QUERY_FROM_TABLE"><![CDATA[FROM custom_tag_map]]></sql>
	
	<!-- 全部条件 -->
	<sql id="QUERY_WHERE_CLAUSE">
		<where>
		    	<if test="id != null"><![CDATA[ AND id = #{id}]]></if>
		    	<if test="tagId != null"><![CDATA[ AND tag_id = #{tagId}]]></if>
		    	<if test="type != null"><![CDATA[ AND type = #{type}]]></if>
		    	<if test="mapId != null"><![CDATA[ AND map_id = #{mapId}]]></if>
		    	<if test="status != null"><![CDATA[ AND status = #{status}]]></if>
		    	<if test="createTime != null"><![CDATA[ AND create_time = #{createTime}]]></if>
		    	<if test="updateTime != null"><![CDATA[ AND update_time = #{updateTime}]]></if>
		</where>
	</sql>
	
	<!-- 智能排序与分页 -->
	<sql id="QUERY_ORDER_LIMIT_CONDTION">
		<if test="orderField != null and orderFieldType != null"><![CDATA[ORDER BY ${orderField} ${orderFieldType}]]></if>
		<if test="startIndex != null and startIndex &gt;= 0 and pageSize != null and pageSize &gt; 0"><![CDATA[LIMIT #{startIndex},#{pageSize}]]></if>	
	</sql>

	<!-- 更新列字段,只要不为NULL则更新,除开主键列 -->
	<sql id="UPDATE_COLUMN_SET">
		<set>
		    	<if test="tagId != null"><![CDATA[tag_id = #{tagId},]]></if>
		    	<if test="type != null"><![CDATA[type = #{type},]]></if>
		    	<if test="mapId != null"><![CDATA[map_id = #{mapId},]]></if>
		    	<if test="status != null"><![CDATA[status = #{status}]]></if>
		</set>
	</sql>

	<!-- 插入action记录 -->
	<insert id="insert" parameterType="cn.rongcapital.mkt.po.CustomTagMap" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO custom_tag_map (tag_id,type,map_id,create_time)
			VALUES
			(
			  #{tagId},
			  #{type},
			  #{mapId},
			  now()
			)
		]]>
	</insert>
	
	<!-- 返回插入的编号,在事务开启状态下有效 -->
	<select id="lastSequence" resultType="int"><![CDATA[SELECT LAST_INSERT_ID() AS id]]></select>

	<!-- 修改记录通过主键 -->
	<update id="updateById" parameterType="cn.rongcapital.mkt.po.CustomTagMap">
		<![CDATA[UPDATE custom_tag_map]]>
		<include refid="UPDATE_COLUMN_SET"/>
		<![CDATA[WHERE id = #{id}]]>
	</update>

	<!-- 查询,通过主键IN(array) -->
	<select id="selectListByIdList" parameterType="cn.rongcapital.mkt.po.CustomTagMap" resultType="cn.rongcapital.mkt.po.CustomTagMap">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<![CDATA[WHERE id IN]]>
		<foreach collection="list" item="id" open="(" separator="," close=")">
			<![CDATA[#{id}]]>
		</foreach>
	</select>

	<!-- 查询,通过条件 -->
	<select id="selectList" parameterType="cn.rongcapital.mkt.po.CustomTagMap" resultType="cn.rongcapital.mkt.po.CustomTagMap">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<include refid="QUERY_WHERE_CLAUSE"/>
		<include refid="QUERY_ORDER_LIMIT_CONDTION"/>
	</select>

	<!-- 总数查询,通过条件 -->
	<select id="selectListCount" parameterType="cn.rongcapital.mkt.po.CustomTagMap" resultType="int">
		<![CDATA[SELECT COUNT(id) AS dataCount]]>
		<include refid="QUERY_FROM_TABLE"/>
		<include refid="QUERY_WHERE_CLAUSE"/>
	</select>
	
	<!-- 其它SQL语句 -->
	
	<!-- 通过head_id批量删除记录 -->
	<update id="batchDeleteUseHeadId" parameterType="java.lang.Integer">
		<![CDATA[UPDATE custom_tag_map]]>
		<![CDATA[SET status = 1, update_time = NOW()]]>
		<![CDATA[WHERE type = 0 AND map_id = #{headerId} AND STATUS = 0]]>
	</update>
	
	<!-- 通过head_id获取受众细分关联的tag -->
	<select id="getTagUseHeadId" parameterType="java.lang.Long" resultType="cn.rongcapital.mkt.po.CustomTagWithName">
		SELECT ct.id AS id, ct.name AS name
		FROM custom_tag_map ctm
		LEFT JOIN custom_tag ct
		ON ct.id = ctm.tag_id AND ct.status = 0
		WHERE ctm.type = 0 AND ctm.map_id = #{headerId} AND ctm.status = 0
		ORDER BY ct.id ASC
	</select>

	<select id="selectTagIdList" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		SELECT map_id
		<include refid="QUERY_FROM_TABLE"/>
		WHERE tag_id = #{tag_id}
	</select>

	<insert id="batchInsert" parameterType="java.util.List">
		INSERT INTO custom_tag_map(tag_id,map_id,type)
		VALUE
		<foreach collection="list" item="item" index="index" separator=",">
			(
			   #{item.tag_id},
			   #{item.map_id},
			   #{item.type}
			)
		</foreach>
	</insert>
	
	<select id="selectCustomTagMapByTagName" parameterType="java.lang.String" resultType="cn.rongcapital.mkt.po.CustomTagWithName">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<![CDATA[WHERE tag_id IN]]>
		(select id from custom_tag where name=#{tagName,jdbcType=VARCHAR})	
	</select>
	
	<select id="selectCustomTagMapByTagNameandMapId" parameterType="java.util.Map" resultType="cn.rongcapital.mkt.po.CustomTagWithName">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<![CDATA[WHERE tag_id IN]]>
		(select id from custom_tag where name=#{tagName})
		and map_id=#{mapId}
	</select>
	
</mapper>
