<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rongcapital.mkt.dao.DataPartyDao">

	<!-- 所有查询列 -->
	<sql id="QUERY_COLUMN_LIST">
		<![CDATA[ id as id,mobile as mobile,name as name,gender as gender,birthday as birthday,provice as provice,city as city,job as job,monthly_income as monthlyIncome,member_level as memberLevel,member_points as memberPoints,source as source,monthly_consume as monthlyConsume,last_login as lastLogin,status as status,create_time as createTime,update_time as updateTime,batch_id as batchId]]>
	</sql>

	<!-- 查询列来源表-->
	<sql id="QUERY_FROM_TABLE"><![CDATA[FROM data_party]]></sql>
	
	<!-- 全部条件 -->
	<sql id="QUERY_WHERE_CLAUSE">
		<where>
		    	<if test="id != null"><![CDATA[ AND id = #{id}]]></if>
		    	<if test="mobile != null"><![CDATA[ AND mobile = #{mobile}]]></if>
		    	<if test="name != null"><![CDATA[ AND name = #{name}]]></if>
		    	<if test="gender != null"><![CDATA[ AND gender = #{gender}]]></if>
		    	<if test="birthday != null"><![CDATA[ AND birthday = #{birthday}]]></if>
		    	<if test="provice != null"><![CDATA[ AND provice = #{provice}]]></if>
		    	<if test="city != null"><![CDATA[ AND city = #{city}]]></if>
		    	<if test="job != null"><![CDATA[ AND job = #{job}]]></if>
		    	<if test="monthlyIncome != null"><![CDATA[ AND monthly_income = #{monthlyIncome}]]></if>
		    	<if test="memberLevel != null"><![CDATA[ AND member_level = #{memberLevel}]]></if>
		    	<if test="memberPoints != null"><![CDATA[ AND member_points = #{memberPoints}]]></if>
		    	<if test="source != null"><![CDATA[ AND source = #{source}]]></if>
		    	<if test="monthlyConsume != null"><![CDATA[ AND monthly_consume = #{monthlyConsume}]]></if>
		    	<if test="lastLogin != null"><![CDATA[ AND last_login = #{lastLogin}]]></if>
		    	<if test="status != null"><![CDATA[ AND status = #{status}]]></if>
		    	<if test="createTime != null"><![CDATA[ AND create_time = #{createTime}]]></if>
		    	<if test="updateTime != null"><![CDATA[ AND update_time = #{updateTime}]]></if>
		    	<if test="batchId != null"><![CDATA[ AND batch_id = #{batchId}]]></if>
		</where>
	</sql>
	
	<!-- 智能排序与分页 -->
	<sql id="QUERY_ORDER_LIMIT_CONDTION">
		<if test="orderField != null and orderFieldType != null"><![CDATA[ORDER BY ${orderField} ${orderFieldType}]]></if>
		<if test="startIndex != null and startIndex &gt;= 0 and pageSize != null and pageSize &gt; 0"><![CDATA[LIMIT #{startIndex},#{pageSize}]]></if>	
	</sql>

	<!-- 更新列字段,只要不为NULL则更新,除开主键列 -->
	<sql id="UPDATE_COLUMN_SET">
		<set>
		    	<if test="mobile != null"><![CDATA[mobile = #{mobile},]]></if>
		    	<if test="name != null"><![CDATA[name = #{name},]]></if>
		    	<if test="gender != null"><![CDATA[gender = #{gender},]]></if>
		    	<if test="birthday != null"><![CDATA[birthday = #{birthday},]]></if>
		    	<if test="provice != null"><![CDATA[provice = #{provice},]]></if>
		    	<if test="city != null"><![CDATA[city = #{city},]]></if>
		    	<if test="job != null"><![CDATA[job = #{job},]]></if>
		    	<if test="monthlyIncome != null"><![CDATA[monthly_income = #{monthlyIncome},]]></if>
		    	<if test="memberLevel != null"><![CDATA[member_level = #{memberLevel},]]></if>
		    	<if test="memberPoints != null"><![CDATA[member_points = #{memberPoints},]]></if>
		    	<if test="source != null"><![CDATA[source = #{source},]]></if>
		    	<if test="monthlyConsume != null"><![CDATA[monthly_consume = #{monthlyConsume},]]></if>
		    	<if test="lastLogin != null"><![CDATA[last_login = #{lastLogin},]]></if>
		    	<if test="status != null"><![CDATA[status = #{status},]]></if>
		    	<if test="batchId != null"><![CDATA[batch_id = #{batchId}]]></if>
		</set>
	</sql>

	<!-- 插入action记录 -->
	<insert id="insert" parameterType="cn.rongcapital.mkt.po.DataParty" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO data_party (mobile,name,gender,birthday,provice,city,job,monthly_income,member_level,member_points,source,monthly_consume,last_login,create_time,batch_id)
			VALUES
			(
			  #{mobile},
			  #{name},
			  #{gender},
			  #{birthday},
			  #{provice},
			  #{city},
			  #{job},
			  #{monthlyIncome},
			  #{memberLevel},
			  #{memberPoints},
			  #{source},
			  #{monthlyConsume},
			  #{lastLogin},
			  now(),
			  #{batchId}
			)
		]]>
	</insert>
	
	<!-- 返回插入的编号,在事务开启状态下有效 -->
	<select id="lastSequence" resultType="int"><![CDATA[SELECT LAST_INSERT_ID() AS id]]></select>

	<!-- 修改记录通过主键 -->
	<update id="updateById" parameterType="cn.rongcapital.mkt.po.DataParty">
		<![CDATA[UPDATE data_party]]>
		<include refid="UPDATE_COLUMN_SET"/>
		<![CDATA[WHERE id = #{id}]]>
	</update>

	<!-- 查询,通过主键IN(array) -->
	<select id="selectListByIdList" parameterType="cn.rongcapital.mkt.po.DataParty" resultType="cn.rongcapital.mkt.po.DataParty">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<![CDATA[WHERE id IN]]>
		<foreach collection="list" item="id" open="(" separator="," close=")">
			<![CDATA[#{id}]]>
		</foreach>
	</select>

	<!-- 查询,通过条件 -->
	<select id="selectList" parameterType="cn.rongcapital.mkt.po.DataParty" resultType="cn.rongcapital.mkt.po.DataParty">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<include refid="QUERY_WHERE_CLAUSE"/>
		<include refid="QUERY_ORDER_LIMIT_CONDTION"/>
	</select>

	<!-- 总数查询,通过条件 -->
	<select id="selectListCount" parameterType="cn.rongcapital.mkt.po.DataParty" resultType="int">
		<![CDATA[SELECT COUNT(id) AS dataCount]]>
		<include refid="QUERY_FROM_TABLE"/>
		<include refid="QUERY_WHERE_CLAUSE"/>
	</select>
	
	<!-- 其它SQL语句 -->
		<select id="selectMainCount" resultType="java.util.Map">
		SELECT
			data_party_rows,data_arch_point_rows,data_customer_tags_rows,data_login_rows,data_member_rows,data_payment_rows,data_polulation_rows,data_shopping_rows
		FROM
			(select count(id) as data_party_rows from data_party) as data_party_result,
			(select count(id) as data_app_rows from data_arch_point) as data_arch_point,
			(select count(id) as data_pos_rows from data_customer_tags) as data_customer_tags,
			(select count(id) as data_crm_rows from data_login) as data_login,
			(select count(id) as data_personal_rows from data_member) as data_member,
			(select count(id) as data_public_rows from data_payment) as data_payment,
			(select count(id) as data_eshop_rows from data_polulation) as data_population,
			(select count(id) as data_tmall_rows from data_shopping) as data_shopping
	</select>

	<!-- 根据Id逻辑上删除某条主数据 -->
	<update id="logicDeleteById" parameterType="cn.rongcapital.mkt.po.DataParty">
		UPDATE
			data_party
		SET
			deleted=#{deleted},
			delete_time= #{deleteTime}
		WHERE id=#{id}
	</update>

	<select id="selectAudienceDetail" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT id as data_id,name,gender,age,mobile,email
		<include refid="QUERY_FROM_TABLE"/>
		WHERE id = #{party_id} and deleted = 1
	</select>

	<!-- 根据Id获取某条主数据 -->
	<select id="getDataById" parameterType="java.lang.Integer" resultType="cn.rongcapital.mkt.po.DataParty">
		SELECT
		id,account_name AS accountName,name,gender,age,home_address AS homeAddress,work_address AS workAddress,
		home_status AS homeStatus,work_status AS workStatus,member_level AS memberLevel,mobile,email,wechat,qq,weibo,order_count AS orderCount,
		order_amount AS orderAmount,cart_item_count AS cartItemCount,favorite_item_count AS favoriteItemCount,salary,offline_activity_attendence AS offlineActivityAttendence,
		child_amount AS childAmount,child_annual_budget AS childAnnualBudget,deleted,delete_time AS deleteTime
		FROM data_party
	    WHERE id = #{id} AND deleted = 0
	</select>
	
	<!-- 根据taskId查询相关数据 -->
	<select id="selectByBatchId" parameterType="java.util.Map" resultType="cn.rongcapital.mkt.po.DataParty">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<![CDATA[WHERE batch_id IN]]>
		<foreach collection="batchIdList" item="batchId" open="(" separator="," close=")">
			<![CDATA[#{batchId}]]>
		</foreach>
		<![CDATA[AND deleted=0]]>
		<if test="paramObj != null">
			<if test="paramObj.startIndex != null and paramObj.startIndex &gt;= 0 and paramObj.pageSize != null and paramObj.pageSize &gt; 0">
				<![CDATA[LIMIT #{paramObj}.startIndex,#{paramObj}.pageSize]]>
			</if>	
		</if>
	</select>	
	
	
</mapper>