<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rongcapital.mkt.dao.NodeListDao">

	<!-- 所有查询列 -->
	<sql id="QUERY_COLUMN_LIST">
		<![CDATA[ id as id,list_id as listId,campaign_tpl_id as campaignTplId,node_status as nodeStatus,pos_x as posX,pos_y as posY]]>
	</sql>

	<!-- 查询列来源表-->
	<sql id="QUERY_FROM_TABLE"><![CDATA[FROM node_list]]></sql>
	
	<!-- 全部条件 -->
	<sql id="QUERY_WHERE_CLAUSE">
		<where>
		    	<if test="id != null and id != ''"><![CDATA[ AND id = #{id}]]></if>
		    	<if test="listId != null and listId != ''"><![CDATA[ AND list_id = #{listId}]]></if>
		    	<if test="campaignTplId != null and campaignTplId != ''"><![CDATA[ AND campaign_tpl_id = #{campaignTplId}]]></if>
		    	<if test="nodeStatus != null and nodeStatus != ''"><![CDATA[ AND node_status = #{nodeStatus}]]></if>
		    	<if test="posX != null and posX != ''"><![CDATA[ AND pos_x = #{posX}]]></if>
		    	<if test="posY != null and posY != ''"><![CDATA[ AND pos_y = #{posY}]]></if>
		</where>
	</sql>
	
	<!-- 智能排序与分页 -->
	<sql id="QUERY_ORDER_LIMIT_CONDTION">
		<if test="orderField != null and orderField != '' and orderFieldType != null and orderFieldType != ''"><![CDATA[ORDER BY ${orderField} ${orderFieldType}]]></if>
		<if test="startIndex != null and startIndex &gt;= 0 and pageSize != null and pageSize &gt; 0"><![CDATA[LIMIT #{startIndex},#{pageSize}]]></if>	
	</sql>

	<!-- 更新列字段,只要不为NULL则更新,除开主键列 -->
	<sql id="UPDATE_COLUMN_SET">
		<set>
		    	<if test="id != null"><![CDATA[id = #{id},]]></if>
		    	<if test="listId != null"><![CDATA[list_id = #{listId},]]></if>
		    	<if test="campaignTplId != null"><![CDATA[campaign_tpl_id = #{campaignTplId},]]></if>
		    	<if test="nodeStatus != null"><![CDATA[node_status = #{nodeStatus},]]></if>
		    	<if test="posX != null"><![CDATA[pos_x = #{posX},]]></if>
		    	<if test="posY != null"><![CDATA[pos_y = #{posY}]]></if>
		</set>
	</sql>

	<!-- 插入action记录 -->
	<insert id="insert" parameterType="cn.rongcapital.mkt.po.NodeList" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO node_list (id,list_id,campaign_tpl_id,node_status,pos_x,pos_y)
			VALUES
			(
			  #{id},
			  #{listId},
			  #{campaignTplId},
			  #{nodeStatus},
			  #{posX},
			  #{posY}
			)
		]]>
	</insert>
	
	<!-- 返回插入的编号,在事务开启状态下有效 -->
	<select id="lastSequence" resultType="int"><![CDATA[SELECT LAST_INSERT_ID() AS id]]></select>

	<!-- 修改记录通过主键 -->
	<update id="updateById" parameterType="cn.rongcapital.mkt.po.NodeList">
		<![CDATA[UPDATE node_list]]>
		<include refid="UPDATE_COLUMN_SET"/>
		<![CDATA[WHERE id = #{id}]]>
	</update>

	<!-- 查询,通过主键IN(array) -->
	<select id="selectListByIdList" parameterType="cn.rongcapital.mkt.po.NodeList" resultType="cn.rongcapital.mkt.po.NodeList">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<![CDATA[WHERE id IN]]>
		<foreach collection="list" item="id" open="(" separator="," close=")">
			<![CDATA[#{id}]]>
		</foreach>
	</select>

	<!-- 查询,通过条件 -->
	<select id="selectList" parameterType="cn.rongcapital.mkt.po.NodeList" resultType="cn.rongcapital.mkt.po.NodeList">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<include refid="QUERY_WHERE_CLAUSE"/>
		<include refid="QUERY_ORDER_LIMIT_CONDTION"/>
	</select>

	<!-- 总数查询,通过条件 -->
	<select id="selectListCount" parameterType="cn.rongcapital.mkt.po.NodeList" resultType="int">
		<![CDATA[SELECT COUNT(id) AS dataCount]]>
		<include refid="QUERY_FROM_TABLE"/>
		<include refid="QUERY_WHERE_CLAUSE"/>
	</select>
	
	<!-- 其它SQL语句 -->
	
	
</mapper>