<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rongcapital.mkt.dao.OriginalDataArchPointDao">

	<!-- 所有查询列 -->
	<sql id="QUERY_COLUMN_LIST">
		<![CDATA[ id as id,event_id as eventId,event_name as eventName,click_time as clickTime,identify_no as identifyNo,driving_license as drivingLicense,email as email,mobile as mobile,tel as tel,QQ as qQ,acct_type as acctType,acct_no as acctNo,IDFA as iDFA,IMEI as iMEI,UDID as uDID,phone_mac as phoneMac,status as status,create_time as createTime,update_time as updateTime,source as source,cookie as cookie,batch_id as batchId]]>
	</sql>

	<!-- 查询列来源表-->
	<sql id="QUERY_FROM_TABLE"><![CDATA[FROM original_data_arch_point]]></sql>
	
	<!-- 全部条件 -->
	<sql id="QUERY_WHERE_CLAUSE">
		<where>
		    	<if test="id != null"><![CDATA[ AND id = #{id}]]></if>
		    	<if test="eventId != null"><![CDATA[ AND event_id = #{eventId}]]></if>
		    	<if test="eventName != null"><![CDATA[ AND event_name = #{eventName}]]></if>
		    	<if test="clickTime != null"><![CDATA[ AND click_time = #{clickTime}]]></if>
		    	<if test="identifyNo != null"><![CDATA[ AND identify_no = #{identifyNo}]]></if>
		    	<if test="drivingLicense != null"><![CDATA[ AND driving_license = #{drivingLicense}]]></if>
		    	<if test="email != null"><![CDATA[ AND email = #{email}]]></if>
		    	<if test="mobile != null"><![CDATA[ AND mobile = #{mobile}]]></if>
		    	<if test="tel != null"><![CDATA[ AND tel = #{tel}]]></if>
		    	<if test="qQ != null"><![CDATA[ AND QQ = #{qQ}]]></if>
		    	<if test="acctType != null"><![CDATA[ AND acct_type = #{acctType}]]></if>
		    	<if test="acctNo != null"><![CDATA[ AND acct_no = #{acctNo}]]></if>
		    	<if test="iDFA != null"><![CDATA[ AND IDFA = #{iDFA}]]></if>
		    	<if test="iMEI != null"><![CDATA[ AND IMEI = #{iMEI}]]></if>
		    	<if test="uDID != null"><![CDATA[ AND UDID = #{uDID}]]></if>
		    	<if test="phoneMac != null"><![CDATA[ AND phone_mac = #{phoneMac}]]></if>
		    	<if test="status != null"><![CDATA[ AND status = #{status}]]></if>
		    	<if test="createTime != null"><![CDATA[ AND create_time = #{createTime}]]></if>
		    	<if test="updateTime != null"><![CDATA[ AND update_time = #{updateTime}]]></if>
		    	<if test="source != null"><![CDATA[ AND source = #{source}]]></if>
		    	<if test="cookie != null"><![CDATA[ AND cookie = #{cookie}]]></if>
		    	<if test="batchId != null"><![CDATA[ AND batch_id = #{batchId}]]></if>
		</where>
	</sql>
	
	<!-- 智能排序与分页 -->
	<sql id="QUERY_ORDER_LIMIT_CONDTION">
		<if test="orderField != null and orderFieldType != null"><![CDATA[ORDER BY ${orderField} ${orderFieldType}]]></if>
		<if test="startIndex != null and startIndex &gt;= 0 and pageSize != null and pageSize &gt; 0"><![CDATA[LIMIT #{startIndex},#{pageSize}]]></if>	
	</sql>

	<!-- 更新列字段,只要不为NULL则更新,除开主键列 -->
	<sql id="UPDATE_COLUMN_SET">
		<set>
		    	<if test="eventId != null"><![CDATA[event_id = #{eventId},]]></if>
		    	<if test="eventName != null"><![CDATA[event_name = #{eventName},]]></if>
		    	<if test="clickTime != null"><![CDATA[click_time = #{clickTime},]]></if>
		    	<if test="identifyNo != null"><![CDATA[identify_no = #{identifyNo},]]></if>
		    	<if test="drivingLicense != null"><![CDATA[driving_license = #{drivingLicense},]]></if>
		    	<if test="email != null"><![CDATA[email = #{email},]]></if>
		    	<if test="mobile != null"><![CDATA[mobile = #{mobile},]]></if>
		    	<if test="tel != null"><![CDATA[tel = #{tel},]]></if>
		    	<if test="qQ != null"><![CDATA[QQ = #{qQ},]]></if>
		    	<if test="acctType != null"><![CDATA[acct_type = #{acctType},]]></if>
		    	<if test="acctNo != null"><![CDATA[acct_no = #{acctNo},]]></if>
		    	<if test="iDFA != null"><![CDATA[IDFA = #{iDFA},]]></if>
		    	<if test="iMEI != null"><![CDATA[IMEI = #{iMEI},]]></if>
		    	<if test="uDID != null"><![CDATA[UDID = #{uDID},]]></if>
		    	<if test="phoneMac != null"><![CDATA[phone_mac = #{phoneMac},]]></if>
		    	<if test="status != null"><![CDATA[status = #{status},]]></if>
		    	<if test="source != null"><![CDATA[source = #{source},]]></if>
		    	<if test="cookie != null"><![CDATA[cookie = #{cookie},]]></if>
		    	<if test="batchId != null"><![CDATA[batch_id = #{batchId}]]></if>
		</set>
	</sql>

	<!-- 插入action记录 -->
	<insert id="insert" parameterType="cn.rongcapital.mkt.po.OriginalDataArchPoint" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO original_data_arch_point (event_id,event_name,click_time,identify_no,driving_license,email,mobile,tel,QQ,acct_type,acct_no,IDFA,IMEI,UDID,phone_mac,create_time,source,cookie,batch_id)
			VALUES
			(
			  #{eventId},
			  #{eventName},
			  #{clickTime},
			  #{identifyNo},
			  #{drivingLicense},
			  #{email},
			  #{mobile},
			  #{tel},
			  #{qQ},
			  #{acctType},
			  #{acctNo},
			  #{iDFA},
			  #{iMEI},
			  #{uDID},
			  #{phoneMac},
			  now(),
			  #{source},
			  #{cookie},
			  #{batchId}
			)
		]]>
	</insert>
	
	<!-- 返回插入的编号,在事务开启状态下有效 -->
	<select id="lastSequence" resultType="int"><![CDATA[SELECT LAST_INSERT_ID() AS id]]></select>

	<!-- 修改记录通过主键 -->
	<update id="updateById" parameterType="cn.rongcapital.mkt.po.OriginalDataArchPoint">
		<![CDATA[UPDATE original_data_arch_point]]>
		<include refid="UPDATE_COLUMN_SET"/>
		<![CDATA[WHERE id = #{id}]]>
	</update>

	<!-- 查询,通过主键IN(array) -->
	<select id="selectListByIdList" parameterType="cn.rongcapital.mkt.po.OriginalDataArchPoint" resultType="cn.rongcapital.mkt.po.OriginalDataArchPoint">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<![CDATA[WHERE id IN]]>
		<foreach collection="list" item="id" open="(" separator="," close=")">
			<![CDATA[#{id}]]>
		</foreach>
	</select>

	<!-- 查询,通过条件 -->
	<select id="selectList" parameterType="cn.rongcapital.mkt.po.OriginalDataArchPoint" resultType="cn.rongcapital.mkt.po.OriginalDataArchPoint">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<include refid="QUERY_WHERE_CLAUSE"/>
		<include refid="QUERY_ORDER_LIMIT_CONDTION"/>
	</select>

	<!-- 总数查询,通过条件 -->
	<select id="selectListCount" parameterType="cn.rongcapital.mkt.po.OriginalDataArchPoint" resultType="int">
		<![CDATA[SELECT COUNT(id) AS dataCount]]>
		<include refid="QUERY_FROM_TABLE"/>
		<include refid="QUERY_WHERE_CLAUSE"/>
	</select>
	
	<!-- 其它SQL语句 -->
	<insert id="batchInsertUploadFileData" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO original_data_arch_point (event_id,event_name,click_time,identify_no,driving_license,email,mobile,tel,QQ,acct_type,acct_no,IDFA,IMEI,UDID,phone_mac,create_time,source,cookie,batch_id)
		VALUES
		<foreach collection="list" item="item" index="index" separator="," >
			(
			#{item.event_id},
			#{item.event_name},
			#{item.click_time},
			#{item.identify_no},
			#{item.driving_license},
			#{item.email},
			#{item.mobile},
			#{item.tel},
			#{item.qq},
			#{item.acct_type},
			#{item.acct_no},
			#{item.idfa},
			#{item.imei},
			#{item.udid},
			#{item.phone_mac},
			#{item.create_time},
			#{item.source},
			#{item.cookie},
			#{item.batch_id}
			)
		</foreach>
	</insert>

	
</mapper>