<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rongcapital.mkt.dao.OriginalDataMemberDao">

	<!-- 所有查询列 -->
	<sql id="QUERY_COLUMN_LIST">
		<![CDATA[ id as id,member_id as memberId,member_points as memberPoints,member_level as memberLevel,regist_time as registTime,card_amt as cardAmt,expire as expire,identify_no as identifyNo,driving_license as drivingLicense,email as email,mobile as mobile,tel as tel,qq as qq,acct_type as acctType,acct_no as acctNo,idfa as idfa,imei as imei,udid as udid,phone_mac as phoneMac,status as status,create_time as createTime,update_time as updateTime,source as source,batch_id as batchId,file_unique as fileUnique,bitmap as bitmap]]>
	</sql>

	<!-- 查询列来源表-->
	<sql id="QUERY_FROM_TABLE"><![CDATA[FROM original_data_member]]></sql>
	
	<!-- 全部条件 -->
	<sql id="QUERY_WHERE_CLAUSE">
		<where>
		    	<if test="id != null"><![CDATA[ AND id = #{id}]]></if>
		    	<if test="memberId != null"><![CDATA[ AND member_id = #{memberId}]]></if>
		    	<if test="memberPoints != null"><![CDATA[ AND member_points = #{memberPoints}]]></if>
		    	<if test="memberLevel != null"><![CDATA[ AND member_level = #{memberLevel}]]></if>
		    	<if test="registTime != null"><![CDATA[ AND regist_time = #{registTime}]]></if>
		    	<if test="cardAmt != null"><![CDATA[ AND card_amt = #{cardAmt}]]></if>
		    	<if test="expire != null"><![CDATA[ AND expire = #{expire}]]></if>
		    	<if test="identifyNo != null"><![CDATA[ AND identify_no = #{identifyNo}]]></if>
		    	<if test="drivingLicense != null"><![CDATA[ AND driving_license = #{drivingLicense}]]></if>
		    	<if test="email != null"><![CDATA[ AND email = #{email}]]></if>
		    	<if test="mobile != null"><![CDATA[ AND mobile = #{mobile}]]></if>
		    	<if test="tel != null"><![CDATA[ AND tel = #{tel}]]></if>
		    	<if test="qq != null"><![CDATA[ AND qq = #{qq}]]></if>
		    	<if test="acctType != null"><![CDATA[ AND acct_type = #{acctType}]]></if>
		    	<if test="acctNo != null"><![CDATA[ AND acct_no = #{acctNo}]]></if>
		    	<if test="idfa != null"><![CDATA[ AND idfa = #{idfa}]]></if>
		    	<if test="imei != null"><![CDATA[ AND imei = #{imei}]]></if>
		    	<if test="udid != null"><![CDATA[ AND udid = #{udid}]]></if>
		    	<if test="phoneMac != null"><![CDATA[ AND phone_mac = #{phoneMac}]]></if>
		    	<if test="status != null"><![CDATA[ AND status = #{status}]]></if>
		    	<if test="createTime != null"><![CDATA[ AND create_time = #{createTime}]]></if>
		    	<if test="updateTime != null"><![CDATA[ AND update_time = #{updateTime}]]></if>
		    	<if test="source != null"><![CDATA[ AND source = #{source}]]></if>
		    	<if test="batchId != null"><![CDATA[ AND batch_id = #{batchId}]]></if>
		    	<if test="fileUnique != null"><![CDATA[ AND file_unique = #{fileUnique}]]></if>
			    <if test="bitmap != null"><![CDATA[ AND bitmap = #{bitmap}]]></if>
		</where>
	</sql>
	
	<!-- 智能排序与分页 -->
	<sql id="QUERY_ORDER_LIMIT_CONDTION">
		<if test="orderField != null and orderFieldType != null"><![CDATA[ORDER BY ${orderField} ${orderFieldType}]]></if>
		<if test="startIndex != null and startIndex &gt;= 0 and pageSize != null and pageSize &gt; 0"><![CDATA[LIMIT #{startIndex},#{pageSize}]]></if>	
	</sql>

	<!-- 更新列字段,只要不为NULL则更新,除开主键列 -->
	<sql id="UPDATE_COLUMN_SET">
		<set>
		    	<if test="memberId != null"><![CDATA[member_id = #{memberId},]]></if>
		    	<if test="memberPoints != null"><![CDATA[member_points = #{memberPoints},]]></if>
		    	<if test="memberLevel != null"><![CDATA[member_level = #{memberLevel},]]></if>
		    	<if test="registTime != null"><![CDATA[regist_time = #{registTime},]]></if>
		    	<if test="cardAmt != null"><![CDATA[card_amt = #{cardAmt},]]></if>
		    	<if test="expire != null"><![CDATA[expire = #{expire},]]></if>
		    	<if test="identifyNo != null"><![CDATA[identify_no = #{identifyNo},]]></if>
		    	<if test="drivingLicense != null"><![CDATA[driving_license = #{drivingLicense},]]></if>
		    	<if test="email != null"><![CDATA[email = #{email},]]></if>
		    	<if test="mobile != null"><![CDATA[mobile = #{mobile},]]></if>
		    	<if test="tel != null"><![CDATA[tel = #{tel},]]></if>
		    	<if test="qq != null"><![CDATA[qq = #{qq},]]></if>
		    	<if test="acctType != null"><![CDATA[acct_type = #{acctType},]]></if>
		    	<if test="acctNo != null"><![CDATA[acct_no = #{acctNo},]]></if>
		    	<if test="idfa != null"><![CDATA[idfa = #{idfa},]]></if>
		    	<if test="imei != null"><![CDATA[imei = #{imei},]]></if>
		    	<if test="udid != null"><![CDATA[udid = #{udid},]]></if>
		    	<if test="phoneMac != null"><![CDATA[phone_mac = #{phoneMac},]]></if>
		    	<if test="status != null"><![CDATA[status = #{status},]]></if>
		    	<if test="source != null"><![CDATA[source = #{source},]]></if>
		    	<if test="batchId != null"><![CDATA[batch_id = #{batchId},]]></if>
		    	<if test="fileUnique != null"><![CDATA[file_unique = #{fileUnique},]]></if>
			    <if test="bitmap != null"><![CDATA[bitmap = #{bitmap}]]></if>
		</set>
	</sql>

	<!-- 插入action记录 -->
	<insert id="insert" parameterType="cn.rongcapital.mkt.po.OriginalDataMember" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO original_data_member (member_id,member_points,member_level,regist_time,card_amt,expire,identify_no,driving_license,email,mobile,tel,qq,acct_type,acct_no,idfa,imei,udid,phone_mac,create_time,source,batch_id,file_unique,bitmap)
			VALUES
			(
			  #{memberId},
			  #{memberPoints},
			  #{memberLevel},
			  #{registTime},
			  #{cardAmt},
			  #{expire},
			  #{identifyNo},
			  #{drivingLicense},
			  #{email},
			  #{mobile},
			  #{tel},
			  #{qq},
			  #{acctType},
			  #{acctNo},
			  #{idfa},
			  #{imei},
			  #{udid},
			  #{phoneMac},
			  now(),
			  #{source},
			  #{batchId},
			  #{fileUnique},
			  #{bitmap}
			)
		]]>
	</insert>
	
	<!-- 返回插入的编号,在事务开启状态下有效 -->
	<select id="lastSequence" resultType="int"><![CDATA[SELECT LAST_INSERT_ID() AS id]]></select>

	<!-- 修改记录通过主键 -->
	<update id="updateById" parameterType="cn.rongcapital.mkt.po.OriginalDataMember">
		<![CDATA[UPDATE original_data_member]]>
		<include refid="UPDATE_COLUMN_SET"/>
		<![CDATA[WHERE id = #{id}]]>
	</update>

	<update id="updateStatusByFileUnique">
		update original_data_member set status = #{status} where file_unique = #{fileUnique}
	</update>

	<!-- 查询,通过主键IN(array) -->
	<select id="selectListByIdList" parameterType="cn.rongcapital.mkt.po.OriginalDataMember" resultType="cn.rongcapital.mkt.po.OriginalDataMember">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<![CDATA[WHERE id IN]]>
		<foreach collection="list" item="id" open="(" separator="," close=")">
			<![CDATA[#{id}]]>
		</foreach>
	</select>

	<!-- 查询,通过条件 -->
	<select id="selectList" parameterType="cn.rongcapital.mkt.po.OriginalDataMember" resultType="cn.rongcapital.mkt.po.OriginalDataMember">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<include refid="QUERY_WHERE_CLAUSE"/>
		<include refid="QUERY_ORDER_LIMIT_CONDTION"/>
	</select>

	<!-- 总数查询,通过条件 -->
	<select id="selectListCount" parameterType="cn.rongcapital.mkt.po.OriginalDataMember" resultType="int">
		<![CDATA[SELECT COUNT(id) AS dataCount]]>
		<include refid="QUERY_FROM_TABLE"/>
		<include refid="QUERY_WHERE_CLAUSE"/>
	</select>
	
	<!-- 其它SQL语句 -->
	<insert id="batchInsertUploadFileData" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO original_data_member (member_id,member_points,member_level,regist_time,
			card_amt,expire,identify_no,driving_license,email,mobile,tel,QQ,acct_type,acct_no,
			IDFA,IMEI,UDID,phone_mac,status,create_time,file_unique,source,batch_id,bitmap)
		VALUES
		<foreach collection="list" item="item" index="index" separator="," >
			(
			#{item.member_id},
			#{item.member_points},
			#{item.member_level},
			#{item.regist_time,jdbcType=TIMESTAMP},
			#{item.card_amt},
			#{item.expire},
			#{item.identify_no},
			#{item.driving_license},
			#{item.email},
			#{item.mobile},
			#{item.tel},
			#{item.qq},
			#{item.acct_type},
			#{item.acct_no},
			#{item.idfa},
			#{item.imei},
			#{item.udid},
			#{item.phone_mac},
			#{item.status},
			#{item.create_time,jdbcType=DATE},
			#{item.file_unique},
			#{item.source},
			#{item.batch_id},
			#{item.bitmap}
			)
		</foreach>
	</insert>

	<select id="selelctIdListByFileUnique" parameterType="java.util.Map" resultType="java.lang.Long">
		SELECT id
		<include refid="QUERY_FROM_TABLE"/>
		WHERE file_unique = #{file_unique}
	</select>

	<select id="selelctIdentifierListByFileUnique" parameterType="java.util.Map" resultType="java.lang.String">
		SELECT distinct mobile
		<include refid="QUERY_FROM_TABLE"/>
		WHERE file_unique = #{file_unique}
	</select>
</mapper>