<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rongcapital.mkt.dao.TaskRunLogDao">

	<!-- 所有查询列 -->
	<sql id="QUERY_COLUMN_LIST">
		<![CDATA[ id as id,task_id as taskId,task_name as taskName,status as status,start_time as startTime,end_time as endTime,create_time as createTime,update_time as updateTime]]>
	</sql>
	
	<sql id="QUERY_RECENTTASK_COLUMN_LIST">
		<![CDATA[ task_id as taskId,task_name as taskName]]>
	</sql>

	<!-- 查询列来源表-->
	<sql id="QUERY_FROM_TABLE"><![CDATA[FROM task_run_log]]></sql>
	
	<!-- 全部条件 -->
	<sql id="QUERY_WHERE_CLAUSE">
		<where>
		    	<if test="id != null and id != ''"><![CDATA[ AND id = #{id}]]></if>
		    	<if test="taskId != null and taskId != ''"><![CDATA[ AND task_id = #{taskId}]]></if>
		    	<if test="taskName != null and taskName != ''"><![CDATA[ AND task_name = #{taskName}]]></if>
		    	<if test="status != null and status != ''"><![CDATA[ AND status = #{status}]]></if>
		    	<if test="startTime != null and startTime != ''"><![CDATA[ AND start_time = #{startTime}]]></if>
		    	<if test="endTime != null and endTime != ''"><![CDATA[ AND end_time = #{endTime}]]></if>
		    	<if test="createTime != null and createTime != ''"><![CDATA[ AND create_time = #{createTime}]]></if>
		    	<if test="updateTime != null and updateTime != ''"><![CDATA[ AND update_time = #{updateTime}]]></if>
		</where>
	</sql>
	
	<sql id="QUERY_ENDTIME_CLAUSE">
		<where>
		    	<![CDATA[ AND end_time > #{endTime}]]>
		</where>
	</sql>
	
	
	<!-- 智能排序与分页 -->
	<sql id="QUERY_ORDER_LIMIT_CONDTION">
		<if test="orderField != null and orderField != '' and orderFieldType != null and orderFieldType != ''"><![CDATA[ORDER BY ${orderField} ${orderFieldType}]]></if>
		<if test="startIndex != null and startIndex &gt;= 0 and pageSize != null and pageSize &gt; 0"><![CDATA[LIMIT #{startIndex},#{pageSize}]]></if>	
	</sql>

	<!-- 更新列字段,只要不为NULL则更新,除开主键列 -->
	<sql id="UPDATE_COLUMN_SET">
		<set>
		    	<if test="id != null"><![CDATA[id = #{id},]]></if>
		    	<if test="taskId != null"><![CDATA[task_id = #{taskId},]]></if>
		    	<if test="taskName != null"><![CDATA[task_name = #{taskName},]]></if>
		    	<if test="status != null"><![CDATA[status = #{status},]]></if>
		    	<if test="startTime != null"><![CDATA[start_time = #{startTime},]]></if>
		    	<if test="endTime != null"><![CDATA[end_time = #{endTime},]]></if>
		    	<if test="createTime != null"><![CDATA[create_time = #{createTime},]]></if>
		    	<if test="updateTime != null"><![CDATA[update_time = #{updateTime}]]></if>
		</set>
	</sql>
	
	<!-- 只能排序智能获取条数 -->
	<sql id="QUERY_ORDER_LIMIT_COUNT">
		<if test="orderField != null and orderField != '' and orderFieldType != null and orderFieldType != ''"><![CDATA[ORDER BY ${orderField} ${orderFieldType}]]></if>
		<if test="count != null and count &gt;= 0 "><![CDATA[LIMIT #{count}]]></if>	
	</sql>

	<!-- 插入action记录 -->
	<insert id="insert" parameterType="cn.rongcapital.mkt.po.TaskRunLog" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO task_run_log (id,task_id,task_name,status,start_time,end_time,create_time,update_time)
			VALUES
			(
			  #{id},
			  #{taskId},
			  #{taskName},
			  #{status},
			  #{startTime},
			  #{endTime},
			  #{createTime},
			  #{updateTime}
			)
		]]>
	</insert>
	
	<!-- 返回插入的编号,在事务开启状态下有效 -->
	<select id="lastSequence" resultType="int"><![CDATA[SELECT LAST_INSERT_ID() AS id]]></select>

	<!-- 修改记录通过主键 -->
	<update id="updateById" parameterType="cn.rongcapital.mkt.po.TaskRunLog">
		<![CDATA[UPDATE task_run_log]]>
		<include refid="UPDATE_COLUMN_SET"/>
		<![CDATA[WHERE id = #{id}]]>
	</update>

	<!-- 查询,通过主键IN(array) -->
	<select id="selectListByIdList" parameterType="cn.rongcapital.mkt.po.TaskRunLog" resultType="cn.rongcapital.mkt.po.TaskRunLog">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<![CDATA[WHERE id IN]]>
		<foreach collection="list" item="id" open="(" separator="," close=")">
			<![CDATA[#{id}]]>
		</foreach>
	</select>

	<!-- 查询,通过条件 -->
	<select id="selectList" parameterType="cn.rongcapital.mkt.po.TaskRunLog" resultType="cn.rongcapital.mkt.po.TaskRunLog">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<include refid="QUERY_WHERE_CLAUSE"/>
		<include refid="QUERY_ORDER_LIMIT_CONDTION"/>
	</select>

	<!-- 总数查询,通过条件 -->
	<select id="selectListCount" parameterType="cn.rongcapital.mkt.po.TaskRunLog" resultType="int">
		<![CDATA[SELECT COUNT(id) AS dataCount]]>
		<include refid="QUERY_FROM_TABLE"/>
		<include refid="QUERY_WHERE_CLAUSE"/>
	</select>
	
	<!-- 查询最近发生的10个任务 -->
	<select id="taskRunLogList" resultType="map">
		<![CDATA[
			SELECT
				task_name,
				STATUS AS task_status,
				start_time,
				end_time
			FROM
				task_run_log
			WHERE
				start_time < now()
			ORDER BY
				start_time DESC
			LIMIT 0,10
		]]>
	</select>
	
	<!-- 其它SQL语句 -->
	
	<select id="selectByEndtime" parameterType="cn.rongcapital.mkt.po.TaskRunLog" resultType="cn.rongcapital.mkt.po.TaskRunLog">
		<![CDATA[SELECT]]>
		<include refid="QUERY_RECENTTASK_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<include refid="QUERY_ENDTIME_CLAUSE"/>
	</select>	
</mapper>
