<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rongcapital.mkt.dao.WechatRegisterDao">

	<!-- 所有查询列 -->
	<sql id="QUERY_COLUMN_LIST">
		<![CDATA[ id as id,wx_acct as wxAcct,name as name,type as type,nickname as nickname,header_image as headerImage,sex as sex,province as province,city as city,signature as signature,status as status,create_time as createTime,update_time as updateTime,app_id as appId,wechat_qrcode as wechatQrcode,is_auth as isAuth]]>
	</sql>

	<!-- 查询列来源表-->
	<sql id="QUERY_FROM_TABLE"><![CDATA[FROM wechat_register]]></sql>
	
	<!-- 全部条件 -->
	<sql id="QUERY_WHERE_CLAUSE">
		<where>
		    	<if test="id != null"><![CDATA[ AND id = #{id}]]></if>
		    	<if test="wxAcct != null"><![CDATA[ AND wx_acct = #{wxAcct}]]></if>
		    	<if test="name != null"><![CDATA[ AND name = #{name}]]></if>
		    	<if test="type != null"><![CDATA[ AND type = #{type}]]></if>
		    	<if test="nickname != null"><![CDATA[ AND nickname = #{nickname}]]></if>
		    	<if test="headerImage != null"><![CDATA[ AND header_image = #{headerImage}]]></if>
		    	<if test="sex != null"><![CDATA[ AND sex = #{sex}]]></if>
		    	<if test="province != null"><![CDATA[ AND province = #{province}]]></if>
		    	<if test="city != null"><![CDATA[ AND city = #{city}]]></if>
		    	<if test="signature != null"><![CDATA[ AND signature = #{signature}]]></if>
		    	<if test="status != null"><![CDATA[ AND status = #{status}]]></if>
		    	<if test="createTime != null"><![CDATA[ AND create_time = #{createTime}]]></if>
		    	<if test="updateTime != null"><![CDATA[ AND update_time = #{updateTime}]]></if>
		    	<if test="appId != null"><![CDATA[ AND app_id = #{appId}]]></if>
		    	<if test="wechatQrcode != null"><![CDATA[ AND wechat_qrcode = #{wechatQrcode}]]></if>
				<if test="isAuth != null"><![CDATA[ AND is_auth = #{isAuth}]]></if>
		</where>
	</sql>
	
	<!-- 智能排序与分页 -->
	<sql id="QUERY_ORDER_LIMIT_CONDTION">
		<if test="orderField != null and orderFieldType != null"><![CDATA[ORDER BY ${orderField} ${orderFieldType}]]></if>
		<if test="startIndex != null and startIndex &gt;= 0 and pageSize != null and pageSize &gt; 0"><![CDATA[LIMIT #{startIndex},#{pageSize}]]></if>	
	</sql>

	<!-- 更新列字段,只要不为NULL则更新,除开主键列 -->
	<sql id="UPDATE_COLUMN_SET">
		<set>
		    	<if test="wxAcct != null"><![CDATA[wx_acct = #{wxAcct},]]></if>
		    	<if test="name != null"><![CDATA[name = #{name},]]></if>
		    	<if test="type != null"><![CDATA[type = #{type},]]></if>
		    	<if test="nickname != null"><![CDATA[nickname = #{nickname},]]></if>
		    	<if test="headerImage != null"><![CDATA[header_image = #{headerImage},]]></if>
		    	<if test="sex != null"><![CDATA[sex = #{sex},]]></if>
		    	<if test="province != null"><![CDATA[province = #{province},]]></if>
		    	<if test="city != null"><![CDATA[city = #{city},]]></if>
		    	<if test="signature != null"><![CDATA[signature = #{signature},]]></if>
		    	<if test="status != null"><![CDATA[status = #{status},]]></if>
		    	<if test="appId != null"><![CDATA[app_id = #{appId},]]></if>
		    	<if test="wechatQrcode != null"><![CDATA[wechat_qrcode = #{wechatQrcode},]]></if>
				<if test="isAuth != null"><![CDATA[is_auth = #{isAuth}]]></if>
		</set>
	</sql>

	<!-- 插入action记录 -->
	<!-- 插入action记录 -->
	<insert id="insert" parameterType="cn.rongcapital.mkt.po.WechatRegister" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO wechat_register (wx_acct,name,type,nickname,header_image,sex,province,city,signature,create_time,app_id,wechat_qrcode,is_auth)
			VALUES
			(
			  #{wxAcct},
			  #{name},
			  #{type},
			  #{nickname},
			  #{headerImage},
			  #{sex},
			  #{province},
			  #{city},
			  #{signature},
			  now(),
			  #{appId},
			  #{wechatQrcode},
			  #{isAuth}
			)
		]]>
	</insert>
	
	<!-- 返回插入的编号,在事务开启状态下有效 -->
	<select id="lastSequence" resultType="int"><![CDATA[SELECT LAST_INSERT_ID() AS id]]></select>

	<!-- 修改记录通过主键 -->
	<update id="updateById" parameterType="cn.rongcapital.mkt.po.WechatRegister">
		<![CDATA[UPDATE wechat_register]]>
		<include refid="UPDATE_COLUMN_SET"/>
		<![CDATA[WHERE id = #{id}]]>
	</update>

	<!-- 查询,通过主键IN(array) -->
	<select id="selectListByIdList" parameterType="cn.rongcapital.mkt.po.WechatRegister" resultType="cn.rongcapital.mkt.po.WechatRegister">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<![CDATA[WHERE id IN]]>
		<foreach collection="list" item="id" open="(" separator="," close=")">
			<![CDATA[#{id}]]>
		</foreach>
	</select>

	<!-- 查询,通过条件 -->
	<select id="selectList" parameterType="cn.rongcapital.mkt.po.WechatRegister" resultType="cn.rongcapital.mkt.po.WechatRegister">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<include refid="QUERY_WHERE_CLAUSE"/>
		<include refid="QUERY_ORDER_LIMIT_CONDTION"/>
	</select>

	<!-- 总数查询,通过条件 -->
	<select id="selectListCount" parameterType="cn.rongcapital.mkt.po.WechatRegister" resultType="int">
		<![CDATA[SELECT COUNT(id) AS dataCount]]>
		<include refid="QUERY_FROM_TABLE"/>
		<include refid="QUERY_WHERE_CLAUSE"/>
	</select>
	
	<!-- 其它SQL语句 -->
	<insert id="insertAuthPublic" parameterType="java.util.Map">
		INSERT INTO wechat_register(wx_acct,name,status)
		VALUES
		(
		    #{wx_acct},
		    #{name},
		    #{status}
		)
	</insert>

	<select id="selectStatus" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT status
		<include refid="QUERY_FROM_TABLE"/>
		WHERE wx_acct = #{wx_acct}
	</select>

	<update id="updatePubInfo" parameterType="java.util.Map">
		UPDATE wechat_register
		<set>
			name = #{name}, type = #{type}, header_image = #{header_image}
		</set>
		WHERE wx_acct = #{wx_acct}
	</update>

	<insert id="batchInsertPersonList" parameterType="java.util.List">
		INSERT INTO wechat_register (wx_acct,type,name,header_image,sex,province,city,signature)
		VALUES
		<foreach collection="list" item="item" index="index" separator="," >
		(
		#{item.wx_acct},
		#{item.type},
		#{item.name},
		#{item.header_image},
		#{item.sex},
		#{item.province},
		#{item.city},
		#{item.signature}
		)
		</foreach>
	</insert>

	<select id="selectPersonalId" parameterType="java.util.Map" resultType="java.lang.Long">
		SELECT id
		<include refid="QUERY_FROM_TABLE"/>
        WHERE wx_acct = #{wx_acct}
		limit 1
	</select>

	<select id="selectNewWxAssetList" parameterType="java.util.List" resultType="java.util.Map">
		SELECT id as asset_id,wx_acct,name as asset_name,type as asset_type,nickname,header_image as imgfile_url
		<include refid="QUERY_FROM_TABLE"/>
        WHERE wx_acct not in
		<foreach collection="list" index="index" item="item" separator="," open="(" close=")">
			#{item}
		</foreach>
	</select>

	<select id="selectNewWxAssetListWhenFirstImported" resultType="java.util.Map">
		SELECT id as asset_id,wx_acct,name as asset_name,type as asset_type,nickname,header_image as imgfile_url
		<include refid="QUERY_FROM_TABLE"/>
	</select>

	<sql id="UPDATE_COLUMN_SET_BY_WXACCT">
		<set>
			<if test="name != null"><![CDATA[name = #{name},]]></if>
			<if test="type != null"><![CDATA[type = #{type},]]></if>
			<if test="nickname != null"><![CDATA[nickname = #{nickname},]]></if>
			<if test="headerImage != null"><![CDATA[header_image = #{headerImage},]]></if>
			<if test="sex != null"><![CDATA[sex = #{sex},]]></if>
			<if test="province != null"><![CDATA[province = #{province},]]></if>
			<if test="city != null"><![CDATA[city = #{city},]]></if>
			<if test="signature != null"><![CDATA[signature = #{signature},]]></if>
			<if test="status != null"><![CDATA[status = #{status}]]></if>
		</set>
	</sql>

	<update id="updateInforByWxAcct" parameterType="cn.rongcapital.mkt.po.WechatRegister">
		<![CDATA[UPDATE wechat_register]]>
		<include refid="UPDATE_COLUMN_SET_BY_WXACCT"/>
		WHERE wx_acct = #{wxAcct}
	</update>

	<update id="updateConsignationTimeByWxacct" parameterType="cn.rongcapital.mkt.po.WechatRegister">
		<![CDATA[UPDATE wechat_register]]>
		SET create_time = #{createTime}
		WHERE wx_acct = #{wxAcct}
	</update>

	<select id="selectWxacctList" parameterType="cn.rongcapital.mkt.po.WechatRegister" resultType="java.lang.String">
		SELECT wx_acct
		<include refid="QUERY_FROM_TABLE"/>
		WHERE status = #{status}
	</select>
	
	<update id="batchUpdateStatusList" parameterType="java.util.List">
		<![CDATA[UPDATE wechat_register]]>
		<![CDATA[ set status = 1]]>
        <![CDATA[ WHERE wx_acct not in]]>
		<foreach collection="list" index="index" item="item" separator="," open="(" close=")">
			#{item}
		</foreach>
	</update>
</mapper>