<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rongcapital.mkt.dao.WechatQrcodeFocusDao">

	<!-- 所有查询列 -->
	<sql id="QUERY_COLUMN_LIST">
		<![CDATA[ id as id,qrcode_id as qrcodeId,wx_name as wxName,ch_code as chCode,openid as openid,focus_datetime as focusDatetime,unfocus_datetime as unfocusDatetime,focus_status as focusStatus,wx_acct as wxAcct]]>
	</sql>

	<!-- 查询列来源表-->
	<sql id="QUERY_FROM_TABLE"><![CDATA[FROM wechat_qrcode_focus]]></sql>
	
	<!-- 全部条件 -->
	<sql id="QUERY_WHERE_CLAUSE">
		<where>
		    	<if test="id != null"><![CDATA[ AND id = #{id}]]></if>
		    	<if test="qrcodeId != null"><![CDATA[ AND qrcode_id = #{qrcodeId}]]></if>
		    	<if test="wxName != null"><![CDATA[ AND wx_name = #{wxName}]]></if>
		    	<if test="chCode != null"><![CDATA[ AND ch_code = #{chCode}]]></if>
		    	<if test="openid != null"><![CDATA[ AND openid = #{openid}]]></if>
		    	<if test="focusDatetime != null"><![CDATA[ AND focus_datetime = #{focusDatetime}]]></if>
		    	<if test="unfocusDatetime != null"><![CDATA[ AND unfocus_datetime = #{unfocusDatetime}]]></if>
		    	<if test="focusStatus != null"><![CDATA[ AND focus_status = #{focusStatus}]]></if>
		    	<if test="wxAcct != null"><![CDATA[ AND wx_acct = #{wxAcct}]]></if>
		</where>
	</sql>
	
	<!-- 智能排序与分页 -->
	<sql id="QUERY_ORDER_LIMIT_CONDTION">
		<if test="orderField != null and orderFieldType != null"><![CDATA[ORDER BY ${orderField} ${orderFieldType}]]></if>
		<if test="startIndex != null and startIndex &gt;= 0 and pageSize != null and pageSize &gt; 0"><![CDATA[LIMIT #{startIndex},#{pageSize}]]></if>	
	</sql>

	<!-- 更新列字段,只要不为NULL则更新,除开主键列 -->
	<sql id="UPDATE_COLUMN_SET">
		<set>
		    	<if test="qrcodeId != null"><![CDATA[qrcode_id = #{qrcodeId},]]></if>
		    	<if test="wxName != null"><![CDATA[wx_name = #{wxName},]]></if>
		    	<if test="chCode != null"><![CDATA[ch_code = #{chCode},]]></if>
		    	<if test="openid != null"><![CDATA[openid = #{openid},]]></if>
		    	<if test="focusDatetime != null"><![CDATA[focus_datetime = #{focusDatetime},]]></if>
		    	<if test="unfocusDatetime != null"><![CDATA[unfocus_datetime = #{unfocusDatetime},]]></if>
		    	<if test="focusStatus != null"><![CDATA[focus_status = #{focusStatus},]]></if>
		    	<if test="wxAcct != null"><![CDATA[wx_acct = #{wxAcct}]]></if>
		</set>
	</sql>

	<!-- 插入action记录 -->
	<insert id="insert" parameterType="cn.rongcapital.mkt.po.WechatQrcodeFocus" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO wechat_qrcode_focus (qrcode_id,wx_name,ch_code,openid,focus_datetime,unfocus_datetime,focus_status,wx_acct)
			VALUES
			(
			  #{qrcodeId},
			  #{wxName},
			  #{chCode},
			  #{openid},
			  #{focusDatetime},
			  #{unfocusDatetime},
			  #{focusStatus},
			  #{wxAcct}
			)
		]]>
	</insert>
	
	<!-- 返回插入的编号,在事务开启状态下有效 -->
	<select id="lastSequence" resultType="int"><![CDATA[SELECT LAST_INSERT_ID() AS id]]></select>

	<!-- 修改记录通过主键 -->
	<update id="updateById" parameterType="cn.rongcapital.mkt.po.WechatQrcodeFocus">
		<![CDATA[UPDATE wechat_qrcode_focus]]>
		<include refid="UPDATE_COLUMN_SET"/>
		<![CDATA[WHERE id = #{id}]]>
	</update>

	<!-- 查询,通过主键IN(array) -->
	<select id="selectListByIdList" parameterType="cn.rongcapital.mkt.po.WechatQrcodeFocus" resultType="cn.rongcapital.mkt.po.WechatQrcodeFocus">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<![CDATA[WHERE id IN]]>
		<foreach collection="list" item="id" open="(" separator="," close=")">
			<![CDATA[#{id}]]>
		</foreach>
	</select>

	<!-- 查询,通过条件 -->
	<select id="selectList" parameterType="cn.rongcapital.mkt.po.WechatQrcodeFocus" resultType="cn.rongcapital.mkt.po.WechatQrcodeFocus">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<include refid="QUERY_WHERE_CLAUSE"/>
		<include refid="QUERY_ORDER_LIMIT_CONDTION"/>
	</select>

	<!-- 总数查询,通过条件 -->
	<select id="selectListCount" parameterType="cn.rongcapital.mkt.po.WechatQrcodeFocus" resultType="int">
		<![CDATA[SELECT COUNT(id) AS dataCount]]>
		<include refid="QUERY_FROM_TABLE"/>
		<include refid="QUERY_WHERE_CLAUSE"/>
	</select>
	
	<!-- 其它SQL语句 -->
	<select id="selectTheEarliestFocus" resultType="cn.rongcapital.mkt.po.WechatQrcodeFocus">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
	    ORDER BY focus_datetime
	</select>

	<!-- 统计微信二维码关注数量 -->
	<select id="getFocusCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(*) FROM
		(
		SELECT
			openid ,COUNT(1)
		FROM
			wechat_qrcode_focus
		WHERE 1=1
		<if test="fieldName != null and fieldName == 'focus_datetime' and searchDate != null ">
			<![CDATA[ and DATE_FORMAT(focus_datetime,'%Y-%m-%d') = #{searchDate} ]]>
		</if>		
		<if test="fieldName != null and fieldName == 'focus_datetime' and searchHours != null ">
			<![CDATA[ and DATE_FORMAT(focus_datetime,'%Y-%m-%d %H') = #{searchHours} ]]>
		</if>		
		<if test="chCode != null">
			AND ch_code = #{chCode}
		</if>
		<if test="wxName != null">
			AND wx_name = #{wxName}
		</if>
		<if test="qrcodeId != null">
			AND qrcode_id = #{qrcodeId}
		</if>		
		AND #{fieldName} IS NOT NULL
		group by openid ) addcount
	</select>
	
	<!-- 统计微信二维码净关注数量 -->
	<select id="getNetFocusCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT
			COUNT(1)
		FROM
			wechat_qrcode_focus
		WHERE 1=1 
		<if test="fieldName != null and fieldName == 'unfocus_datetime' and searchDate != null ">
			<![CDATA[ and DATE_FORMAT(focus_datetime,'%Y-%m-%d') = #{searchDate} ]]>
		</if>
		<if test="fieldName != null and fieldName == 'unfocus_datetime' and searchHours != null ">
			<![CDATA[ and DATE_FORMAT(focus_datetime,'%Y-%m-%d %H') = #{searchHours} ]]>
		</if>
		<![CDATA[ and focus_status='0' ]]>
		<if test="chCode != null">
			AND ch_code = #{chCode}
		</if>
		<if test="wxName != null">
			AND wx_name = #{wxName}
		</if>
		<if test="qrcodeId != null">
			AND qrcode_id = #{qrcodeId}
		</if>		
		
	</select>

	<!-- 获取总浏览次数，关注的信息，流失关注的信息 -->
	<select id="getAllFocusData" parameterType="java.util.Map" resultType="java.util.Map">

		select 
		  	totalScan.wx_acct AS wxAcct,
		  	totalScan.wx_name AS wxName,
  			totalScan.ch_code AS chCode,
  			wc.ch_name AS chName,
  			IFNULL(totalScan.value,0) AS totalScan,
  			IFNULL(totalScanUser.value,0) AS totalScanUser,
  			IFNULL(totalFocus.value,0) AS totalFocus,
  			IFNULL(newFocus.value,0) AS newFocus,
  			IFNULL(newFocus.value,0)-IFNULL(netaddFocus.value,0) AS lostFocus 
		from
		    
			(<![CDATA[SELECT wx_acct AS wx_acct,wx_name AS wx_name,ch_code AS ch_code, COUNT(id) as value]]>
			<![CDATA[ FROM wechat_qrcode_scan ]]>
			<where>
		    	    <if test="wxAcctlist != null">
		    	    <![CDATA[ AND wx_acct in ]]>
						<foreach item="item" index="index" collection="wxAcctlist" open="("
            				separator="," close=")">
            			#{item}  
         				</foreach>
         			</if>
			    	<if test="chCode != null"><![CDATA[ AND ch_code = #{chCode}]]></if>
			    	<if test="qrcodeId != null"><![CDATA[ AND id = #{qrcodeId}]]></if>
			</where>
			<![CDATA[GROUP BY wx_acct,wx_name,ch_code) as totalScan]]>
			
			<![CDATA[left join]]>
			(<![CDATA[SELECT totf.wx_acct AS wx_acct,totf.wx_name AS wx_name,totf.ch_code AS ch_code, COUNT(*) as value FROM ]]>
			
			(<![CDATA[SELECT wx_acct AS wx_acct,wx_name AS wx_name,ch_code AS ch_code,openid, COUNT(id) as value]]>
			<include refid="QUERY_FROM_TABLE"/>
			<![CDATA[GROUP BY wx_acct,wx_name,ch_code,openid) totf ]]>
			<![CDATA[GROUP BY totf.wx_acct,totf.wx_name,totf.ch_code )]]>
			<![CDATA[ as totalFocus]]>
			<![CDATA[ON totalScan.wx_acct = totalFocus.wx_acct AND totalScan.ch_code = totalFocus.ch_code ]]>
			
			<![CDATA[left join]]>
			(<![CDATA[select newadd.wx_acct AS wx_acct,newadd.wx_name AS wx_name,newadd.ch_code AS ch_code,COUNT(*) as value from ]]>
			(<![CDATA[SELECT wx_acct AS wx_acct,wx_name AS wx_name,ch_code AS ch_code,openid, COUNT(id) as value]]>
			<include refid="QUERY_FROM_TABLE"/>
			<where>
				<![CDATA[and focus_datetime between #{startTime} and #{endTime}]]>
			</where>
			<![CDATA[GROUP BY wx_acct,wx_name,ch_code,openid) newadd]]>
			<![CDATA[GROUP BY newadd.wx_acct,newadd.wx_name,newadd.ch_code )]]>
			<![CDATA[as newFocus]]>
			<![CDATA[ON totalScan.wx_acct = newFocus.wx_acct AND totalScan.ch_code = newFocus.ch_code ]]>
			
			<![CDATA[LEFT JOIN]]>
			(<![CDATA[SELECT wx_acct AS wx_acct,wx_name AS wx_name,ch_code AS ch_code, COUNT(id) as value]]>
			<include refid="QUERY_FROM_TABLE"/>
			<where>
				<![CDATA[and focus_datetime between #{startTime} and #{endTime}]]>
				<![CDATA[and focus_status='0']]>		
			</where>
			<![CDATA[GROUP BY wx_acct,wx_name,ch_code) as netaddFocus]]>
			<![CDATA[ON totalScan.wx_acct = netaddFocus.wx_acct AND totalScan.ch_code = netaddFocus.ch_code ]]>

			<![CDATA[LEFT JOIN]]>
			(<![CDATA[SELECT wx_acct AS wx_acct,wx_name AS wx_name,ch_code AS ch_code, COUNT(*) as value]]>
			<![CDATA[ FROM ( SELECT DISTINCT USER_ID, wx_acct AS wx_acct,wx_name AS wx_name,ch_code AS ch_code ]]>
			<![CDATA[     FROM wechat_qrcode_scan ]]>
			<![CDATA[GROUP BY wx_acct,wx_name,ch_code,USER_ID)  AS qrcodeScan  ]]>
			<![CDATA[	GROUP BY wx_acct,wx_name,ch_code) as totalScanUser]]>
			<![CDATA[ON totalScan.wx_acct = totalScanUser.wx_acct AND totalScan.ch_code = totalScanUser.ch_code]]>
			
			<![CDATA[LEFT JOIN wechat_channel wc ON wc.id = totalScan.ch_code ]]>
	</select>

	<!-- 获取最大总关注数 -->
	<select id="getAmountFocusMax" parameterType="java.util.Map" resultType="java.util.Map">
	   <![CDATA[SELECT total.time as time, count(*) as value from ]]>
		(<![CDATA[SELECT DATE_FORMAT(focus_datetime,'%Y-%m-%d') as time, openid,count(id) as value]]>
		<include refid="QUERY_FROM_TABLE"/>
		<where>
		    	<if test="wxAcct != null"><![CDATA[ AND wx_acct = #{wxAcct}]]></if>
		    	<if test="chCode != null"><![CDATA[ AND ch_code = #{chCode}]]></if>
		    	<if test="qrcodeId != null"><![CDATA[ AND qrcode_id = #{qrcodeId}]]></if>
		</where>
		<![CDATA[GROUP BY time,openid ) total]]>		
		<![CDATA[GROUP BY total.time order by value desc limit 1]]>
	</select>

	<!-- 获取最大新关注的信息 -->
	<select id="getNewFocusMax" parameterType="java.util.Map" resultType="java.util.Map">
	    <![CDATA[SELECT maxnew.time as time, count(*) as value from ]]>
		(<![CDATA[SELECT DATE_FORMAT(focus_datetime,'%Y-%m-%d') as time, openid,count(id) as value]]>
		<include refid="QUERY_FROM_TABLE"/>
		<where>
				<![CDATA[and focus_datetime between #{startTime} and #{endTime}]]>
		    	<if test="wxAcct != null"><![CDATA[ AND wx_acct = #{wxAcct}]]></if>
		    	<if test="chCode != null"><![CDATA[ AND ch_code = #{chCode}]]></if>
		    	<if test="qrcodeId != null"><![CDATA[ AND qrcode_id = #{qrcodeId}]]></if>
		</where>
		<![CDATA[GROUP BY time,openid ) maxnew]]>	
		<![CDATA[GROUP BY maxnew.time order by value desc limit 1]]>
	</select>

	<!-- 获取最大净增关注的信息 -->
	<select id="getAddFocusMax" parameterType="java.util.Map" resultType="java.util.Map">
		 <![CDATA[SELECT DATE_FORMAT(focus_datetime,'%Y-%m-%d') as time, COUNT(id) as value]]>
			<include refid="QUERY_FROM_TABLE"/>
			<where>
				<![CDATA[and focus_datetime between #{startTime} and #{endTime}]]>
				<![CDATA[and focus_status='0']]>		
			</where>
			<![CDATA[GROUP BY time]]>
			<![CDATA[order by value desc limit 1]]>

	</select>

	<!-- 获取最大流失关注的信息 -->
	<select id="getLostFocusMax" parameterType="java.util.Map" resultType="java.util.Map">
	<![CDATA[SELECT  summaxnew.time as time, (IFNULL(summaxnew.value,0) - IFNULL(maxnetnew.value,0)) value]]>
		<![CDATA[from]]>
	
		(<![CDATA[SELECT maxnew.time as time, count(*) as value from ]]>
		(<![CDATA[SELECT DATE_FORMAT(focus_datetime,'%Y-%m-%d') as time, openid,count(id) as value]]>
		<include refid="QUERY_FROM_TABLE"/>
		<where>
				<![CDATA[and focus_datetime between #{startTime} and #{endTime}]]>
		    	<if test="wxAcct != null"><![CDATA[ AND wx_acct = #{wxAcct}]]></if>
		    	<if test="chCode != null"><![CDATA[ AND ch_code = #{chCode}]]></if>
		    	<if test="qrcodeId != null"><![CDATA[ AND qrcode_id = #{qrcodeId}]]></if>
		</where>
		<![CDATA[GROUP BY time,openid ) maxnew ]]> 
		<![CDATA[group by maxnew.time )  summaxnew ]]>
		<![CDATA[JOIN]]>
		(<![CDATA[SELECT DATE_FORMAT(focus_datetime,'%Y-%m-%d') as time, COUNT(id) as value]]>
			<include refid="QUERY_FROM_TABLE"/>
			<where>
				<![CDATA[and focus_datetime between #{startTime} and #{endTime}]]>
				<![CDATA[and focus_status='0']]>		
			</where>
			<![CDATA[GROUP BY time ) maxnetnew]]>
			<![CDATA[on summaxnew.time = maxnetnew.time]]>
			<![CDATA[order by value desc limit 1]]>
		
		
	</select>

	<!-- 根据微信名和渠道号获取二维码id -->
	<select id="getQrcodeIdList" parameterType="cn.rongcapital.mkt.po.WechatQrcodeFocus" resultType="java.lang.String">
		<![CDATA[SELECT qrcode_id]]>
		<include refid="QUERY_FROM_TABLE"/>
		<where>
			    	<if test="wxName != null"><![CDATA[ AND wx_name = #{wxName}]]></if>
			    	<if test="chCode != null"><![CDATA[ AND ch_code = #{chCode}]]></if>
			    	and qrcode_id IS NOT NULL
		</where>
		GROUP BY qrcode_id
	</select>

	<select id="selectTheEarliestFocusByQrcodeId" parameterType="java.lang.String" resultType="cn.rongcapital.mkt.po.WechatQrcodeFocus">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		WHERE qrcode_id = #{qrcodeId}
		ORDER BY focus_datetime
	</select>
</mapper>