<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rongcapital.mkt.dao.WechatQrcodeLogDao">

	<!-- 所有查询列 -->
	<sql id="QUERY_COLUMN_LIST">
		<![CDATA[ id as id,source_filename as sourceFilename,total_rows as totalRows,success as success,status as status,create_time as createTime,batch_id as batchId]]>
	</sql>

	<!-- 查询列来源表-->
	<sql id="QUERY_FROM_TABLE"><![CDATA[FROM wechat_qrcode_log]]></sql>
	
	<!-- 全部条件 -->
	<sql id="QUERY_WHERE_CLAUSE">
		<where>
		    	<if test="id != null"><![CDATA[ AND id = #{id}]]></if>
		    	<if test="sourceFilename != null"><![CDATA[ AND source_filename = #{sourceFilename}]]></if>
		    	<if test="totalRows != null"><![CDATA[ AND total_rows = #{totalRows}]]></if>
		    	<if test="success != null"><![CDATA[ AND success = #{success}]]></if>
		    	<if test="status != null"><![CDATA[ AND status = #{status}]]></if>
		    	<if test="createTime != null"><![CDATA[ AND create_time = #{createTime}]]></if>
		    	<if test="batchId != null"><![CDATA[ AND batch_id = #{batchId}]]></if>
		</where>
	</sql>
	
	<!-- 智能排序与分页 -->
	<sql id="QUERY_ORDER_LIMIT_CONDTION">
		<if test="orderField != null and orderFieldType != null"><![CDATA[ORDER BY ${orderField} ${orderFieldType}]]></if>
		<if test="startIndex != null and startIndex &gt;= 0 and pageSize != null and pageSize &gt; 0"><![CDATA[LIMIT #{startIndex},#{pageSize}]]></if>	
	</sql>

	<!-- 更新列字段,只要不为NULL则更新,除开主键列 -->
	<sql id="UPDATE_COLUMN_SET">
		<set>
		    	<if test="sourceFilename != null"><![CDATA[source_filename = #{sourceFilename},]]></if>
		    	<if test="totalRows != null"><![CDATA[total_rows = #{totalRows},]]></if>
		    	<if test="success != null"><![CDATA[success = #{success},]]></if>
		    	<if test="status != null"><![CDATA[status = #{status},]]></if>
		    	<if test="batchId != null"><![CDATA[batch_id = #{batchId}]]></if>
		</set>
	</sql>

	<!-- 插入action记录 -->
	<insert id="insert" parameterType="cn.rongcapital.mkt.po.WechatQrcodeLog" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO wechat_qrcode_log (source_filename,total_rows,success,create_time,batch_id)
			VALUES
			(
			  #{sourceFilename},
			  #{totalRows},
			  #{success},
			  now(),
			  #{batchId}
			)
		]]>
	</insert>
	
	<!-- 返回插入的编号,在事务开启状态下有效 -->
	<select id="lastSequence" resultType="int"><![CDATA[SELECT LAST_INSERT_ID() AS id]]></select>

	<!-- 修改记录通过主键 -->
	<update id="updateById" parameterType="cn.rongcapital.mkt.po.WechatQrcodeLog">
		<![CDATA[UPDATE wechat_qrcode_log]]>
		<include refid="UPDATE_COLUMN_SET"/>
		<![CDATA[WHERE id = #{id}]]>
	</update>

	<!-- 查询,通过主键IN(array) -->
	<select id="selectListByIdList" parameterType="cn.rongcapital.mkt.po.WechatQrcodeLog" resultType="cn.rongcapital.mkt.po.WechatQrcodeLog">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<![CDATA[WHERE id IN]]>
		<foreach collection="list" item="id" open="(" separator="," close=")">
			<![CDATA[#{id}]]>
		</foreach>
	</select>

	<!-- 查询,通过条件 -->
	<select id="selectList" parameterType="cn.rongcapital.mkt.po.WechatQrcodeLog" resultType="cn.rongcapital.mkt.po.WechatQrcodeLog">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<include refid="QUERY_WHERE_CLAUSE"/>
		<include refid="QUERY_ORDER_LIMIT_CONDTION"/>
	</select>

	<!-- 总数查询,通过条件 -->
	<select id="selectListCount" parameterType="cn.rongcapital.mkt.po.WechatQrcodeLog" resultType="int">
		<![CDATA[SELECT COUNT(id) AS dataCount]]>
		<include refid="QUERY_FROM_TABLE"/>
		<include refid="QUERY_WHERE_CLAUSE"/>
	</select>
	
	<!-- 其它SQL语句 -->
	<select id="selectCountByBatchId" parameterType="cn.rongcapital.mkt.po.WechatQrcodeLog" resultType="cn.rongcapital.mkt.po.WechatQrcodeLog">
		<![CDATA[SELECT total_rows as totalRows,success from wechat_qrcode_log]]>
		<![CDATA[WHERE batch_id = #{batchId}]]>
		<![CDATA[limit 1]]>
	</select>
	
</mapper>