<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rongcapital.mkt.dao.WechatQrcodeFocusDao">

	<!-- 所有查询列 -->
	<sql id="QUERY_COLUMN_LIST">
		<![CDATA[ id as id,qrcode_id as qrcodeId,wx_name as wxName,ch_code as chCode,openid as openid,focus_datetime as focusDatetime,unfocus_datetime as unfocusDatetime]]>
	</sql>

	<!-- 查询列来源表-->
	<sql id="QUERY_FROM_TABLE"><![CDATA[FROM wechat_qrcode_focus]]></sql>
	
	<!-- 全部条件 -->
	<sql id="QUERY_WHERE_CLAUSE">
		<where>
		    	<if test="id != null"><![CDATA[ AND id = #{id}]]></if>
		    	<if test="qrcodeId != null"><![CDATA[ AND qrcode_id = #{qrcodeId}]]></if>
		    	<if test="wxName != null"><![CDATA[ AND wx_name = #{wxName}]]></if>
		    	<if test="chCode != null"><![CDATA[ AND ch_code = #{chCode}]]></if>
		    	<if test="openid != null"><![CDATA[ AND openid = #{openid}]]></if>
		    	<if test="focusDatetime != null"><![CDATA[ AND focus_datetime = #{focusDatetime}]]></if>
		    	<if test="unfocusDatetime != null"><![CDATA[ AND unfocus_datetime = #{unfocusDatetime}]]></if>
		</where>
	</sql>
	
	<!-- 智能排序与分页 -->
	<sql id="QUERY_ORDER_LIMIT_CONDTION">
		<if test="orderField != null and orderFieldType != null"><![CDATA[ORDER BY ${orderField} ${orderFieldType}]]></if>
		<if test="startIndex != null and startIndex &gt;= 0 and pageSize != null and pageSize &gt; 0"><![CDATA[LIMIT #{startIndex},#{pageSize}]]></if>	
	</sql>

	<!-- 更新列字段,只要不为NULL则更新,除开主键列 -->
	<sql id="UPDATE_COLUMN_SET">
		<set>
		    	<if test="qrcodeId != null"><![CDATA[qrcode_id = #{qrcodeId},]]></if>
		    	<if test="wxName != null"><![CDATA[wx_name = #{wxName},]]></if>
		    	<if test="chCode != null"><![CDATA[ch_code = #{chCode},]]></if>
		    	<if test="openid != null"><![CDATA[openid = #{openid},]]></if>
		    	<if test="focusDatetime != null"><![CDATA[focus_datetime = #{focusDatetime},]]></if>
		    	<if test="unfocusDatetime != null"><![CDATA[unfocus_datetime = #{unfocusDatetime}]]></if>
		</set>
	</sql>

	<!-- 插入action记录 -->
	<insert id="insert" parameterType="cn.rongcapital.mkt.po.WechatQrcodeFocus" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO wechat_qrcode_focus (qrcode_id,wx_name,ch_code,openid,focus_datetime,unfocus_datetime)
			VALUES
			(
			  #{qrcodeId},
			  #{wxName},
			  #{chCode},
			  #{openid},
			  #{focusDatetime},
			  #{unfocusDatetime}
			)
		]]>
	</insert>
	
	<!-- 返回插入的编号,在事务开启状态下有效 -->
	<select id="lastSequence" resultType="int"><![CDATA[SELECT LAST_INSERT_ID() AS id]]></select>

	<!-- 修改记录通过主键 -->
	<update id="updateById" parameterType="cn.rongcapital.mkt.po.WechatQrcodeFocus">
		<![CDATA[UPDATE wechat_qrcode_focus]]>
		<include refid="UPDATE_COLUMN_SET"/>
		<![CDATA[WHERE id = #{id}]]>
	</update>

	<!-- 查询,通过主键IN(array) -->
	<select id="selectListByIdList" parameterType="cn.rongcapital.mkt.po.WechatQrcodeFocus" resultType="cn.rongcapital.mkt.po.WechatQrcodeFocus">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<![CDATA[WHERE id IN]]>
		<foreach collection="list" item="id" open="(" separator="," close=")">
			<![CDATA[#{id}]]>
		</foreach>
	</select>

	<!-- 查询,通过条件 -->
	<select id="selectList" parameterType="cn.rongcapital.mkt.po.WechatQrcodeFocus" resultType="cn.rongcapital.mkt.po.WechatQrcodeFocus">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<include refid="QUERY_WHERE_CLAUSE"/>
		<include refid="QUERY_ORDER_LIMIT_CONDTION"/>
	</select>

	<!-- 总数查询,通过条件 -->
	<select id="selectListCount" parameterType="cn.rongcapital.mkt.po.WechatQrcodeFocus" resultType="int">
		<![CDATA[SELECT COUNT(id) AS dataCount]]>
		<include refid="QUERY_FROM_TABLE"/>
		<include refid="QUERY_WHERE_CLAUSE"/>
	</select>
	
	<!-- 其它SQL语句 -->
	<select id="selectTheEarliestFocus" resultType="cn.rongcapital.mkt.po.WechatQrcodeFocus">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
	    ORDER BY focus_datetime
	</select>
	
	<!-- 统计微信二维码关注数量和取消关注数量 -->
	<select id="getFocusOrUnFocusCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT
			COUNT(1)
		FROM
			wechat_qrcode_focus
		WHERE
		<if test="fieldName != null and fieldName == 'focus_datetime' ">
			<![CDATA[ DATE_FORMAT(focus_datetime,'%Y-%m-%d') = #{searchDate} ]]>
		</if>
		<if test="fieldName != null and fieldName == 'unfocus_datetime' ">
			<![CDATA[ DATE_FORMAT(unfocus_datetime,'%Y-%m-%d') = #{searchDate} ]]>
		</if>
		AND ch_code = #{chCode}
		AND wx_name = #{wxName}
		AND #{fieldName} IS NOT NULL
	</select>
</mapper>