<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rongcapital.mkt.dao.bbx.BbxCouponCodeAddDao">
	<!-- 所有查询列 -->
	<sql id="QUERY_COLUMN_LIST">
		<![CDATA[ id as id,vip_id as vipId,coupon_id as couponId,action_id as actionId,coupon_money as couponMoney,can_use_begin_date as canUseBeginDate,can_user_end_date as canUserEndDate,store_code as storeCode,create_time as createTime,synchronizeable as synchronizeable,synch_success as synchSuccess,synchronized_time as synchronizedTime,phone as phone,coupon_code_id as couponCodeId,checked as checked,main_id as mainId,campsign_id as campsignId,item_id as itemId,error_msg as errorMsg]]>
	</sql>

	<!-- 查询列来源表-->
	<sql id="QUERY_FROM_TABLE"><![CDATA[FROM bbx_coupon_code_add]]></sql>

	<!-- 全部条件 -->
	<sql id="QUERY_WHERE_CLAUSE">
		<where>
			<if test="id != null"><![CDATA[ AND id = #{id}]]></if>
			<if test="vipId != null"><![CDATA[ AND vip_id = #{vipId}]]></if>
			<if test="couponId != null"><![CDATA[ AND coupon_id = #{couponId}]]></if>
			<if test="actionId != null"><![CDATA[ AND action_id = #{actionId}]]></if>
			<if test="couponMoney != null"><![CDATA[ AND coupon_money = #{couponMoney}]]></if>
			<if test="canUseBeginDate != null"><![CDATA[ AND can_use_begin_date = #{canUseBeginDate}]]></if>
			<if test="canUserEndDate != null"><![CDATA[ AND can_user_end_date = #{canUserEndDate}]]></if>
			<if test="storeCode != null"><![CDATA[ AND store_code = #{storeCode}]]></if>
			<if test="createTime != null"><![CDATA[ AND create_time = #{createTime}]]></if>
			<if test="synchronizeable != null"><![CDATA[ AND synchronizeable = #{synchronizeable}]]></if>
			<if test="synchSuccess != null"><![CDATA[ AND synch_success = #{synchSuccess}]]></if>
			<if test="synchronizedTime != null"><![CDATA[ AND synchronized_time = #{synchronizedTime}]]></if>
			<if test="phone != null"><![CDATA[ AND phone = #{phone}]]></if>
			<if test="couponCodeId != null"><![CDATA[ AND coupon_code_id = #{couponCodeId}]]></if>
			<if test="checked != null"><![CDATA[ AND checked = #{checked}]]></if>
			<if test="mainId != null"><![CDATA[ AND main_id = #{mainId}]]></if>
			<if test="campsignId != null"><![CDATA[ AND campsign_id = #{campsignId}]]></if>
			<if test="itemId != null"><![CDATA[ AND item_id = #{itemId}]]></if>
			<if test="errorMsg != null"><![CDATA[ AND error_msg = #{errorMsg}]]></if>
		</where>
	</sql>

	<!-- 智能排序与分页 -->
	<sql id="QUERY_ORDER_LIMIT_CONDTION">
		<if test="orderField != null and orderFieldType != null"><![CDATA[ORDER BY ${orderField} ${orderFieldType}]]></if>
		<if test="startIndex != null and startIndex &gt;= 0 and pageSize != null and pageSize &gt; 0"><![CDATA[LIMIT #{startIndex},#{pageSize}]]></if>
	</sql>

	<!-- 更新列字段,只要不为NULL则更新,除开主键列 -->
	<sql id="UPDATE_COLUMN_SET">
		<set>
			<if test="vipId != null"><![CDATA[vip_id = #{vipId},]]></if>
			<if test="couponId != null"><![CDATA[coupon_id = #{couponId},]]></if>
			<if test="actionId != null"><![CDATA[action_id = #{actionId},]]></if>
			<if test="couponMoney != null"><![CDATA[coupon_money = #{couponMoney},]]></if>
			<if test="canUseBeginDate != null"><![CDATA[can_use_begin_date = #{canUseBeginDate},]]></if>
			<if test="canUserEndDate != null"><![CDATA[can_user_end_date = #{canUserEndDate},]]></if>
			<if test="storeCode != null"><![CDATA[store_code = #{storeCode},]]></if>
			<if test="synchronizeable != null"><![CDATA[synchronizeable = #{synchronizeable},]]></if>
			<if test="synchSuccess != null"><![CDATA[synch_success = #{synchSuccess},]]></if>
			<if test="synchronizedTime != null"><![CDATA[synchronized_time = #{synchronizedTime},]]></if>
			<if test="phone != null"><![CDATA[phone = #{phone},]]></if>
			<if test="couponCodeId != null"><![CDATA[coupon_code_id = #{couponCodeId},]]></if>
			<if test="checked != null"><![CDATA[checked = #{checked},]]></if>
			<if test="mainId != null"><![CDATA[main_id = #{mainId},]]></if>
			<if test="campsignId != null"><![CDATA[campsign_id = #{campsignId},]]></if>
			<if test="itemId != null"><![CDATA[item_id = #{itemId},]]></if>
			<if test="errorMsg != null"><![CDATA[error_msg = #{errorMsg}]]></if>
		</set>
	</sql>

	<!-- 插入action记录 -->
	<insert id="insert" parameterType="cn.rongcapital.mkt.bbx.po.BbxCouponCodeAdd" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO bbx_coupon_code_add (vip_id,coupon_id,action_id,coupon_money,can_use_begin_date,can_user_end_date,store_code,create_time,synchronizeable,synch_success,synchronized_time,phone,coupon_code_id,checked,main_id,campsign_id,item_id,error_msg)
			VALUES
			(
			  #{vipId},
			  #{couponId},
			  #{actionId},
			  #{couponMoney},
			  #{canUseBeginDate},
			  #{canUserEndDate},
			  #{storeCode},
			  now(),
			  #{synchronizeable},
			  #{synchSuccess},
			  #{synchronizedTime},
			  #{phone},
			  #{couponCodeId},
			  #{checked},
			  #{mainId},
			  #{campsignId},
			  #{itemId},
			  #{errorMsg}
			)
		]]>
	</insert>

	<!-- 返回插入的编号,在事务开启状态下有效 -->
	<select id="lastSequence" resultType="int"><![CDATA[SELECT LAST_INSERT_ID() AS id]]></select>

	<!-- 修改记录通过主键 -->
	<update id="updateById" parameterType="cn.rongcapital.mkt.bbx.po.BbxCouponCodeAdd">
		<![CDATA[UPDATE bbx_coupon_code_add]]>
		<include refid="UPDATE_COLUMN_SET"/>
		<![CDATA[WHERE id = #{id}]]>
	</update>

	<!-- 查询,通过主键IN(array) -->
	<select id="selectListByIdList" parameterType="cn.rongcapital.mkt.bbx.po.BbxCouponCodeAdd" resultType="cn.rongcapital.mkt.bbx.po.BbxCouponCodeAdd">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<![CDATA[WHERE id IN]]>
		<foreach collection="list" item="id" open="(" separator="," close=")">
			<![CDATA[#{id}]]>
		</foreach>
	</select>

	<!-- 查询,通过条件 -->
	<select id="selectList" parameterType="cn.rongcapital.mkt.bbx.po.BbxCouponCodeAdd" resultType="cn.rongcapital.mkt.bbx.po.BbxCouponCodeAdd">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<include refid="QUERY_WHERE_CLAUSE"/>
		<include refid="QUERY_ORDER_LIMIT_CONDTION"/>
	</select>

	<!-- 总数查询,通过条件 -->
	<select id="selectListCount" parameterType="cn.rongcapital.mkt.bbx.po.BbxCouponCodeAdd" resultType="int">
		<![CDATA[SELECT COUNT(id) AS dataCount]]>
		<include refid="QUERY_FROM_TABLE"/>
		<include refid="QUERY_WHERE_CLAUSE"/>
	</select>

	<!-- 其它SQL语句 -->
	<insert id="batchInsert" parameterType="cn.rongcapital.mkt.bbx.po.BbxCouponCodeAdd" useGeneratedKeys="false">
		INSERT INTO bbx_coupon_code_add (vip_id,coupon_id,action_id,coupon_money,can_use_begin_date,can_user_end_date,store_code,create_time,synchronizeable,synch_success,synchronized_time,phone,coupon_code_id,checked,main_id,campsign_id,item_id,error_msg)
		VALUES
			<foreach collection="list" item="model" separator=",">
				(
				  #{model.vipId},
				  #{model.couponId},
				  #{model.actionId},
				  #{model.couponMoney},
				  #{model.canUseBeginDate},
				  #{model.canUserEndDate},
				  #{model.storeCode},
				  #{model.createTime},
				  #{model.synchronizeable},
				  #{model.synchSuccess},
				  #{model.synchronizedTime},
				  #{model.phone},
				  #{model.couponCodeId},
				  #{model.checked},
				  #{model.mainId},
				  #{model.campsignId},
				  #{model.itemId},
				  #{model.errorMsg}
				)
			</foreach>
	</insert>
	
	<select id="selectCampaignSmsItemByCouponId" parameterType="long" resultType="map">
		SELECT cass.campaign_head_id as campaignHeadId,cass.item_id as itemId 
			FROM material_coupon mc 
			INNER JOIN sms_material_materiel_map smmm ON mc.id = smmm.sms_materiel_id
			INNER JOIN campaign_action_send_sms cass ON cass.sms_material_id = smmm.id
		WHERE smmm.sms_materiel_type = 0 AND mc.id = #{couponId}
	</select>

	<select id="selectListByMinId" resultType="cn.rongcapital.mkt.bbx.po.BbxCouponCodeAdd">
		SELECT id as id,vip_id as vipId,coupon_id as couponId,action_id as actionId,coupon_money as couponMoney,can_use_begin_date as canUseBeginDate,can_user_end_date as canUserEndDate,store_code as storeCode,create_time as createTime,synchronizeable as synchronizeable,synch_success as synchSuccess,synchronized_time as synchronizedTime,phone as phone,coupon_code_id as couponCodeId,checked as checked,main_id as mainId,campsign_id as campsignId,item_id as itemId,error_msg as errorMsg
		FROM bbx_coupon_code_add
		<where>
			<if test="id != null"><![CDATA[ AND id > #{id}]]></if>
			<if test="vipId != null"><![CDATA[ AND vip_id = #{vipId}]]></if>
			<if test="couponId != null"><![CDATA[ AND coupon_id = #{couponId}]]></if>
			<if test="actionId != null"><![CDATA[ AND action_id = #{actionId}]]></if>
			<if test="couponMoney != null"><![CDATA[ AND coupon_money = #{couponMoney}]]></if>
			<if test="canUseBeginDate != null"><![CDATA[ AND can_use_begin_date = #{canUseBeginDate}]]></if>
			<if test="canUserEndDate != null"><![CDATA[ AND can_user_end_date = #{canUserEndDate}]]></if>
			<if test="storeCode != null"><![CDATA[ AND store_code = #{storeCode}]]></if>
			<if test="createTime != null"><![CDATA[ AND create_time = #{createTime}]]></if>
			<if test="synchronizeable != null"><![CDATA[ AND synchronizeable = #{synchronizeable}]]></if>
			<if test="synchSuccess != null"><![CDATA[ AND synch_success = #{synchSuccess}]]></if>
			<if test="synchronizedTime != null"><![CDATA[ AND synchronized_time = #{synchronizedTime}]]></if>
			<if test="phone != null"><![CDATA[ AND phone = #{phone}]]></if>
			<if test="couponCodeId != null"><![CDATA[ AND coupon_code_id = #{couponCodeId}]]></if>
			<if test="checked != null"><![CDATA[ AND checked = #{checked}]]></if>
			<if test="mainId != null"><![CDATA[ AND main_id = #{mainId}]]></if>
			<if test="campsignId != null"><![CDATA[ AND campsign_id = #{campsignId}]]></if>
			<if test="itemId != null"><![CDATA[ AND item_id = #{itemId}]]></if>
			<if test="errorMsg != null"><![CDATA[ AND error_msg = #{errorMsg}]]></if>
		</where>
		<if test="orderField != null and orderFieldType != null"><![CDATA[ORDER BY ${orderField} ${orderFieldType}]]></if>
		<if test="pageSize != null and pageSize &gt; 0"><![CDATA[LIMIT #{pageSize}]]></if>
	</select>

</mapper>